<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="over" class="sidenav">
    <mat-nav-list>
      @for (item of menuItems(); track item) {
        <a mat-list-item class="menu-item" [routerLink]="[item.rota]" routerLinkActive="selected-menu-item" #rla="routerLinkActive" (click)="toggleSidenav()">
          <mat-icon matListItemIcon [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'">{{ item.icone }}</mat-icon>
          <span>{{ item.titulo }}</span>
        </a>
      }
    </mat-nav-list>    
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" [opened]="false">
    <mat-nav-list>
      @for (item of menuItems(); track item) {
          <a mat-list-item class="menu-item" [routerLink]="[item.rota]" routerLinkActive="selected-menu-item" #rla="routerLinkActive" (click)="toggleSidenav()">
            <mat-icon matListItemIcon [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'">{{ item.icone }}</mat-icon>
            <span>{{ item.titulo }}</span>
          </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content> <!-- permite o conteúdo do pai ser renderizado aqui -->
  </mat-sidenav-content>
</mat-sidenav-container>


