.header {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 50px;
    padding: 1rem;
    background-color: #ccc;
}

.title {
    margin-left: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
}
.m-l-1 {
    margin-left: 1rem;
}
.spacer {
  flex: 1 1 auto;
}
